<div class="main-container">
    <div class="container">
        <h1 class="main-heading">Acohol and Happiness</h1>
        {{!-- Emoji block --}}
        <div class="emoji-blocks">
            <div class="emoji-block">
                <div class="emoji-img">
                    <img src="images/happy.svg" alt="happy emoji">
                </div>
                <div class="emoji-text">
                    Counties with the highest
                    happiness scores are not
                    the biggest consumers
                    of alcohol
                </div>
            </div>
            <div class="emoji-block">
                <div class="emoji-img">
                    <img src="images/sad.svg" alt="sad emoji">
                </div>
                <div class="emoji-text">
                    Counties with the lowest
                    happiness scores generally
                    have very low consumption
                    levels
                </div>
            </div>
        </div>
        {{!-- Beer block --}}
        <div class="beer-bottle-block">
            <img src="images/beer-bottle.svg" alt="beer icon">
        </div>
        {{!-- Consumption block --}}
        <div class="consumption-blocks">
            <div class="consumption-block wine-block">
                <div class="consumption-heading">
                    <img class="heading-img heading-img-left" src="images/wine.svg" alt="wine">
                    <h2 class="second-heading">Top Wine Consumers</h2>
                    <img class="heading-img heading-img-right" src="images/wine.svg" alt="wine">
                </div>
                <div class="consumption-inside">
                    <a href="1" class="country-link">
                        <img src="images/France.png" alt="France">
                        <div class="wine-contry-popup contry-popup">
                            <h3 class="country-popup-country"></h3>
                            <div class="country-popup-alcohol">
                                <div class="country-popup-alcohol-data"></div>
                                <div class="country-popup-alcohol-add">wine/capita</div>
                            </div>
                            <div class="country-popup-happiness">
                                <div class="country-popup-happiness-data"></div>
                                <div class="country-popup-happiness-add">happiness</div>
                            </div>
                        </div>
                    </a>
                    <a href="2" class="country-link">
                        <img src="images/Portugal.png" alt="Portugal">
                        <div class="wine-contry-popup contry-popup">
                            <h3 class="country-popup-country"></h3>
                            <div class="country-popup-alcohol">
                                <div class="country-popup-alcohol-data"></div>
                                <div class="country-popup-alcohol-add">wine/capita</div>
                            </div>
                            <div class="country-popup-happiness">
                                <div class="country-popup-happiness-data"></div>
                                <div class="country-popup-happiness-add">happiness</div>
                            </div>
                        </div>
                    </a>
                    <a href="3" class="country-link">
                        <img src="images/Switzerland.png" alt="Switzerland">
                        <div class="wine-contry-popup contry-popup">
                            <h3 class="country-popup-country"></h3>
                            <div class="country-popup-alcohol">
                                <div class="country-popup-alcohol-data"></div>
                                <div class="country-popup-alcohol-add">wine/capita</div>
                            </div>
                            <div class="country-popup-happiness">
                                <div class="country-popup-happiness-data"></div>
                                <div class="country-popup-happiness-add">happiness</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="consumption-block beer-block">
                <div class="consumption-heading">
                    <img class="heading-img heading-img-left" src="images/beer.svg" alt="wine">
                    <h2 class="second-heading">Top Beer Consumers</h2>
                    <img class="heading-img heading-img-right" src="images/beer.svg" alt="wine">
                </div>
                <div class="consumption-inside">
                    <a href="4" class="country-link">
                        <img src="images/Namibia.png" alt="Namibia">
                        <div class="beer-contry-popup contry-popup">
                            <h3 class="country-popup-country"></h3>
                            <div class="country-popup-alcohol">
                                <div class="country-popup-alcohol-data"></div>
                                <div class="country-popup-alcohol-add">beer/capita</div>
                            </div>
                            <div class="country-popup-happiness">
                                <div class="country-popup-happiness-data"></div>
                                <div class="country-popup-happiness-add">happiness</div>
                            </div>
                        </div>
                    </a>
                    <a href="5" class="country-link">
                        <img src="images/Czech_Republic.png" alt="Czech_Republic">
                        <div class="beer-contry-popup contry-popup">
                            <h3 class="country-popup-country"></h3>
                            <div class="country-popup-alcohol">
                                <div class="country-popup-alcohol-data"></div>
                                <div class="country-popup-alcohol-add">beer/capita</div>
                            </div>
                            <div class="country-popup-happiness">
                                <div class="country-popup-happiness-data"></div>
                                <div class="country-popup-happiness-add">happiness</div>
                            </div>
                        </div>
                    </a>
                    <a href="6" class="country-link">
                        <img src="images/Gabon.png" alt="Gabon">
                        <div class="beer-contry-popup contry-popup">
                            <h3 class="country-popup-country"></h3>
                            <div class="country-popup-alcohol">
                                <div class="country-popup-alcohol-data"></div>
                                <div class="country-popup-alcohol-add">beer/capita</div>
                            </div>
                            <div class="country-popup-happiness">
                                <div class="country-popup-happiness-data"></div>
                                <div class="country-popup-happiness-add">happiness</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {{!-- Hemisphere block --}}
        <div class="hemisphere-block">
            <div class="hemisphere-heading">
                <img src="images/globe.svg" alt="globe" class="hemispere-img-left">
                <h2 class="hemisphere-heading-text">Consumption By Hemisphere</h2>
                <img src="images/globe.svg" alt="globe" class="hemispere-img-right">
            </div>
            <div class="hemisphere-icons">
                <a href="#" id="top" class="hemisphere-icon">
                    <img src="images/north.svg" alt="north">
                </a>
                <a href="#" id="bottom" class="hemisphere-icon">
                    <img src="images/south.svg" alt="south">
                </a>
            </div>
        </div>
        {{#each sections}}
        <div class="hemisphere-popup" id="popup{{ID}}">
            <div class="close-icon">
                <img src="images/cross.svg" alt="cross">
            </div>
            <div class="hemisphere-popup-container">
                <h2 class="hemisphere-popup-heading">{{hemisphere}} Hemisphere</h2>
                <div class="hemisphere-popup-content">
                    <div class="hemisphere-popup-block">
                        <h3 class="hemisphere-popup-block-heading">{{beer}}</h3>
                        <div class="hemisphere-popup-block-data">average beer consumption per capita</div>
                    </div>
                    <div class="hemisphere-popup-block">
                        <h3 class="hemisphere-popup-block-heading">{{vine}}</h3>
                        <div class="hemisphere-popup-block-data">average wine consumption per capita</div>
                    </div>
                    <div class="hemisphere-popup-block">
                        <h3 class="hemisphere-popup-block-heading">{{gdp}}</h3>
                        <div class="hemisphere-popup-block-data">average GDP per capita</div>
                    </div>
                    <div class="hemisphere-popup-block">
                        <h3 class="hemisphere-popup-block-heading">{{happiness}}</h3>
                        <div class="hemisphere-popup-block-data">average happiness rate</div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>